@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* .inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
   }   */

   body{
    font-family: "Inter", sans-serif;

    background-color: black;
    
    
    /* width: 100%; */
   } 
   
   *{
    margin: 0px;
    padding: 0px;
   }
   /* .banner-container{
    max-width: 1400px;
    margin: 0px auto;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
     
   } 
   .display-flex{
    display: flex;

   }
   .navbar{
    justify-content: space-between;

    align-items: center;
    
    
   }
   .brand{
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
    margin-top: 60px;
   }
   .nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    margin: 0px  10px 0px 0px;
    
    
   }
   .home{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    padding: 8px 15px 8px 15px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    margin: 0px;
   }
   .nav-links{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    
    gap: 47px;

    margin-top: 60px;
   }

   .nav-item{
    list-style: none;
    padding: 10px 3px 10px 2px;

    
   }

   /* #banner */

   /*.banner{
    margin-top: 60px;
    justify-content: flex-start;

    align-items: flex-start;
    
   }
   .banner-text{
    width: 50%;

    text-align: left;

   }
   .banner-heading{
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;

    text-align: left;
   }

   .stay{
    font-style: italic;
    font-weight: 400;
   }
   .banner-paragraph{
    font-size: 16px;
    font-weight: 400;
    max-width: 520px;
    margin-top: 30px;
   }
   .banner-btn{
    margin-top: 30px;
    display: flex;
    gap: 20px;
   }
   .btn-1{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
   }
   .span-btn-1{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    
    
   }
   .btn-2{
   
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 40px 16px 40px;

   }
   .span-btn-2{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;

   }

   .banner-image{

    width: 50%;

    text-align: right;

   }


   .img-banner{
    max-width: 349px;
    max-height: 580px;

    text-align: center;
   } */

   .habit-container{
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
   }
   .habit-text{
    text-align: center;
   }
   .habit-h2{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
   }
   .habit-para{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-top: 14px;
   }

   .habit-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 58px;
   }
   .habit-card{
    justify-content: center;
    align-items: center;
    text-align: center;
   }

   .habit-cards h5{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin-top: 26px;
    
   }

   .habit-cards p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
   }

   .habit-card{
    display: flex;
    flex-direction: column;
    align-items: center;
   }




   .habit-cards img{
    border-radius: 50%;
    border: 2px solid rgb(48, 48, 48);
   }
   /* #run-part */
   .run-section{
    width: 80%;
    margin: 0px auto;
     border-radius: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    background-color: rgb(34, 34, 34);
   }
   .run-text{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    width: 50%;
   }
   .run-section h2{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
   }

   .run-section p{
    color: rgba(255, 255, 255, 0.5);
    width: 65%;
    font-size: 14px;
    font-weight: 400;
    margin-top: 25px;
   }
   .run-section button{
    color: rgb(255, 255, 255);
    width: 224px;
    height: 54px;
    font-size: 18px;
    font-weight: 600;
    background: rgb(230, 83, 60);
    border-radius: 42px;
    padding: 16px 60px 16px 60px;
    margin-top: 30px;
    border: none;
   }

   .run-img{
    width: 40%;
    height: 80%;
    margin-right: 30px;
    border-radius: 18px;
    margin-top: 40px;
    margin-bottom: 10px;
   }

   .run-section img{
    
    width: 100%;
    height: 100%;
    /* object-fit: cover;
    object-position: 100%; */
    
    border-radius: 18px;
    margin-bottom: 20px;
    
   }

   /* #Bmi-calculator */

   .BMI-calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   }

   .BMI-calculator h2{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
   }
   .BMI-calculator p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-top: 25px;
   }
   .sub-form{
    width: 80%;
    margin: 0px auto;
    border: 2px solid yellow;
    /* background-color: red; */
    /* height: 300px; */
    
   }

   /* #Meet-team part */
   .meet-section{
    width: 80%;
    margin: 0px auto;
    margin-top: 100px;
   }
   .meet-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   }
   .meet-section h2{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
   }
   .meet-section p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-top: 14px;
   }
   .meet-img-container{
    width: 100%;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 60px;
    
   }
   .meet-img{
    position: relative;
    padding: 12px;
   }
   .meet-img-container img{
    width: 100%;
    height: 100%;
    filter: brightness(80%); 
    border-radius: 18px;
   }
   .name-tag{
    position: absolute;
    top: 75%;
    left: 8%;
   }
   .head{
    font-size: 25px;
    color: rgb(255, 255, 255);

   }
   .para{
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 400;
    

   }


   @media screen and (max-width: 576px) {

     .habit-container{

      margin-top: -40px;
      
    } 

    .habit-h2{
      font-size: 1.45rem;

    }

    .habit-para{
      font-size: .8rem;
      margin-top: 14px;
    }

    .habit-cards{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 30px;
    }
    .habit-card h5{
      margin-bottom: 5px;
    }
    .habit-card p{
      margin-bottom: 20px;
    }
    .run-section{
      flex-direction: column;
      align-items: center;
      
    }
    .run-text{
      margin-top: 31px;
      
      width: 100%;
      margin-left: 75px;
    }
    .run-section h2{
      font-size: 32px;
    }
    .run-section p{
      width: 80%;
    }
    .run-section button{
      width: 80%;
    }
    .run-img{
      width: 80%;
      margin-left: 30px;
      margin-bottom: 20px;
    }
    .run-section img{
      width: 100%;

    }

   } 


   

  